body{
    text-align: center;
    justify-content: center;
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.cardArea{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    min-width: 300px;
    min-height: 400px;
    border: 2px solid white;
    border-radius: 25px;
    margin: 2px;
}
.card h1{
    color: white;
}
.cityInput{
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.cityInput button{
    width: 20%;
}