body{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}
.displayBox1{
    background-color: white;
    padding-bottom: 1%;
    padding-top: 5px;
    width: 75vw;
}
#gameArea{
    width: 100vw;
    height: 100vh;
}
.canvas{
    height: 100%;
    width: 100%;
    background-color: lightblue;
}